.icon-scroll,
.icon-scroll:before{
  position: absolute;
  left: 50%;
}
.icon-scroll{
  width: 40px;
  height: 70px;
  bottom: 20px;
  margin-left: -20px;
  margin-top: -35px;
  box-shadow: inset 0 0 0 1px black;
  border-radius: 25px;
}
.icon-scroll:before {
content: '';
  width: 8px;
  height: 8px;
  background: black;
  margin-left: -4px;
  top: 8px;
  border-radius: 4px;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-name: scroll;
  }
@keyframes scroll{
  0%{
      opacity: 1;
  }
    
  100%{
      opacity: 0;
      transform: translateY(46px);
  }
}
.gutta {
    display: flex;
    justify-content: space-around;
    align-items: baseline;

}
.grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "desktop desktop"
    "info mobile";
}
#info{
    margin: auto;
    grid-area: info;
}
#desktop{
    margin: auto;
    grid-area: desktop;
    grid-column: 1/span 2;
    max-width: 90%;
    height: auto;
}
#mobile{
    margin: auto;
    grid-area: mobile;
    max-width: 50%;
    height: auto;
}

#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: black; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
}

ul.navn li{
    display: inline;
}
  
#myBtn:hover {
    background-color: white;
    color: black;
    border: 1px solid black;}

@media only screen and (max-width: 790px) {
    .grid{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: 
        "info mobile"
        "desktop desktop";
    }
    #desktop{
        margin: auto;
        grid-area: desktop;
        grid-column: 1/span 2;
        max-width: 90%;
        height: auto;
    }
    #mobile{
        margin: 10px auto 10px auto;
        grid-area: mobile;
        max-width: 90%;
        height: auto;
    }
}
@media only screen and (max-width: 560px) {
    .grid{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas: 
        "info"
        "mobile";
    }
    #info{
        margin-top: 5px;
        margin-bottom: 5px;
    }
    #desktop{
        margin: auto;
        grid-area: desktop;
        display: none;
        max-width: 100%;
        height: auto;
    }
    #mobile{
        margin: 10px auto 10px auto;
        grid-area: mobile;
        max-width: 90%;
        height: auto;
    }
}